body, html {
  font-family: 'Didact Gothic';
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

input {
  border-radius: 5px;
}

button {
  border-radius: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 6, 42);
}

.App-link {
  color: #29a6c8;
}
.any-link {
  color: #00aede;

}
.any-link:hover {
  color:#619efb;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* home feed */
.anyIcon {
  margin: 3px;
}
.anyIcon:hover {
  cursor: pointer;
}
.home {
  margin-top: 100px;
}
@media screen and (max-width: 1050px) {
  .home {
    margin-top: 50px;
  }
}
.single-post-image-in-home-feed {
  width: 100%;
  height: 350px;
}
.home-feed-post-container {
  text-align: center;
  border-top: 0.5px solid rgba(128, 128, 128, 0.875);
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1.4rem;
}
.home-feed-post-container h1 {
  font-size: .9em;
}
.home-feed-post-caption {
  background-color: rgba(228, 228, 228, 0.433);
  padding-top: 5px;
  padding-bottom: 5px;
}
.textAlignLeft {
  text-align: left;
}
.textAlignRight {
  text-align: right;
}
.nguyenstagram {
  font-family: "Dekko";
  font-weight: bold;
}
.link-to-profile-page:hover {
 cursor: pointer;
 color: rgb(0, 145, 255); 
}
.heart-like {
  opacity: 95%;
}
.heart-like:hover {
  cursor: pointer;
  opacity: 100%;
}

/* log in and sign up */
.login-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 50%;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 10px;
}
@media screen and (max-width: 1050px) {
  .login-page-container {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .login-page-container {
    width: 85%;
  }
}
@media screen and (max-width: 425px) {
  .login-page-container {
    width: 100%;
  }
}
.login-container {
  text-align: center;
  font-size: .75em;
  padding: 6% 0;
}
.login-container input {
  border-radius: 5px;
}
.loginImageContainer {
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  background-size: 100% 100%;
  border-radius: 10px;
}
@keyframes example{
  0%{
    background-image: url("./images/home-image0.jpg");
  }
  25%{
    background-image: url("./images/home-image1.jpg");
  }
  50%{
    background-image: url("./images/home-image2.jpg");
  }
  75%{
    background-image: url("./images/home-image3.jpg");
  }
  100%{
    background-image: url("./images/home-image0.jpg");
  }
}

.login-image-pic {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.login-error-messages {
  color: red;
}

/* nav bar  */
.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profilePicNavBar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nav-bar-container {
  border-right: 1px solid rgba(212, 212, 212, 0.702);
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 15px;
  text-align: center;
  background-color: #ffffff;

}
.nav-bar-container h1 {
  color: black;
  text-align: left;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-bar-container h2 {
  text-align: left;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-bar-container h3 {
  text-align: left;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-bar-container h1:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}
.nav-bar-container h2:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}
@media screen and (max-width: 1090px) {
  .nav-bar-container {
    width: 25%;
  }
  .nav-bar-container h1 {
    font-size: 1.2em;
  }
  .nav-bar-container h2 {
    font-size: 1.2em;
  }
  .nav-bar-container h3 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 890px) {
  .nav-bar-container {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    z-index: 1; /* Stay on top */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: auto;
    border-bottom: 1px solid gray;
  }
  .nav-links{
    display: flex;
    justify-content: space-evenly;
  }

  .home {
    margin-top: 300px;
  }
  .nav-bar-container h1 {
    color: black;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nav-bar-container h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nav-bar-container h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .notificationsList {
    max-width: auto;
    margin: auto;
  }
}
.logoutButton {
  
}
/* notifications */
.read {
  background-color: rgb(230, 230, 230);
}
.unread {
  background-color: rgb(255, 214, 214);
}
.single-notification {
  margin-top:1px;
  margin-bottom: 1px;
  padding: 5px 0;
}
.single-notification:hover {
  cursor: pointer;
  opacity: 98%;
}
.notificationsList {
  padding: 0px;
  word-wrap: break-word;
}
.notificationsList li {
  word-wrap: break-word;
}

/* my profile */
.my-profile-container {
  width: 50%;
  margin: auto;
  padding: 0px;
  align-items: center;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
/* profile pic edit */
.myProfilePic {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  opacity: 95%;
}

.myProfilePic:hover {
  cursor: pointer;
  opacity: 100%;
}
/* end of profile pic edit */
@media screen and (max-width: 890px) {
  .my-profile-container {
    width: 95%;
    margin-top: 330px;
  }
}
.profileInfoPart {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-around;
}
.profileInfoPart h1 {
  font-size: 1.7em;
}
.single-post-thumbnail {
  width: 100%;
  height: 100%;
}
.single-post-container {
  width: 250px;
  height: 250px;
  margin: 2px;
}
.displayed-posts-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
}

/* post pics */

.post-pic-link {
  opacity: 95%;
}
.post-pic-link:hover {
  cursor: pointer;
  opacity: 100%;
}

/* search bar */
.searchContainer {

}
.searchContainer ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
@media screen and (max-width: 890px) {
  .searchContainer ul {
    text-align: center;
  }
}
.profilePicInHomeFeed {
  width: 28px;
  height: 28px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
}
.profilePicInPostShowPage {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
}
.profile-pic-inside-search-bar {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
}
.search-entry {
  background-color: rgb(255, 255, 255);
  margin-top: 2px;
  margin-bottom: 2px;
}
.search-entry:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}
.toggleSomething:hover {
  cursor: pointer;
}
/* comments */

.commentsListContainer {
  padding: 0px;
  margin: 0px;
}
.single-comment {
  background-color: #ffffffcc;
  border-bottom: 1px solid rgba(128, 128, 128, 0.578);
  font-size: .7em;
}
.post-comment-button {
  background-color: rgb(0, 119, 255);
  color: white;
}

/* post show page */

.postShowPageContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  border: .5px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
  padding: 20px;
  font-size: 1.4rem;
}
.postShowPageContainer h1 {
  font-size: .9em;
}
@media screen and (max-width: 880px) {
  .postShowPageContainer {
    margin-top: 310px;
  }
}

.commentinputcontainer {
  font-size: .8em;
}
.commentinputcontainer input {
  width: 75%;
}
.commentinputcontainer button {
  width: 25%;
  background-color: rgb(80, 159, 255);
  color: white;
}
.commentinputcontainer button:hover {
  background-color: #619efb;
}
.commentInsidePostShowPage {
  font-size: .8em;
  background-color: #ffffffcc;
  border-bottom: 1px solid rgba(128, 128, 128, 0.578);
  border-top: 1px solid rgba(128, 128, 128, 0.578);
}
.commentDelete {
  color: rgb(255, 150, 150);
}
.commentDelete:hover {
  color:rgb(253, 121, 121);
  cursor: pointer;
}
.postShowPagePic {
  width: 450px;
  height: 350px;
}
/* image uploading */

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.file-input label {
  display: block;
  position: relative;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(40deg, #ff70c8, #827ef8);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin: auto;
  opacity: 90%;
}
.file-input label:hover {
  opacity: 100%;
}
.previewImagePost {
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.previewImageSignUp {
  border-radius: 50%;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Style for the button container */
.floating-button {
  position: fixed; /* Make it fixed to the viewport */
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  right: 20px; /* Adjust the distance from the right as needed */
  z-index: 999; /* Set a high z-index to make it appear above other elements */
}

.round-button {
  width: 80px;
  height: 80px;
  background-color: rgb(157, 0, 157);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 34px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */

  /* Center the plus sign vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Change the text when hovering */
.round-button:hover::before {
  content: "Upload Photo"; /* Change the button's content on hover */
  font-size: 18px; /* Adjust the font size */
}

/* Adjust the button hover effect if needed */
.round-button:hover {
  background-color: #f90bf1;
  
  /* Change the background color on hover */
}