body, html {
  font-family: 'Didact Gothic';
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

input {
  border-radius: 5px;
}

button {
  border-radius: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 6, 42);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* home feed */
.home {
  margin-top: 100px;
}
.single-post-image-in-home-feed {
  width: 100%;
  height: 350px;
}
.home-feed-post-container {
  text-align: center;
  border-top: 0.5px solid rgba(128, 128, 128, 0.875);
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.home-feed-post-container h1 {
  font-size: .9em;
}
.home-feed-post-caption {
  background-color: rgba(207, 207, 207, 0.433);
}
.textAlignLeft {
  text-align: left;
}
.textAlignRight {
  text-align: right;
}
.nguyenstagram {
  font-family: "Dekko";
  font-weight: bold;
}
.link-to-profile-page:hover {
 cursor: pointer;
 color: rgb(0, 145, 255); 
}
.heart-like {
  opacity: 95%;
}
.heart-like:hover {
  cursor: pointer;
  opacity: 100%;
}

/* log in and sign up */
.login-page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 50%;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 10px;
}
.login-container {
  text-align: center;
  font-size: .9em;
  padding: 50px 0px;
}
.login-container input {
  border-radius: 5px;
}
.login-image-pic {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.login-error-messages {
  color: red;
}

/* nav bar  */
.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 80%;
}
.profile-pic:hover {
  opacity: 100%;
  cursor: pointer;
}
.nav-bar-container {
  border-right: 1px solid rgba(212, 212, 212, 0.702);
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 15px;
  text-align: center;
}
.nav-bar-container h1 {
  color: black;
  text-align: left;
  font-size: 1.5em;
}
.nav-bar-container h1:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}
.logoutButton {
  
}
/* notifications */
.read {
  background-color: rgb(230, 230, 230);
}

.unread {
  background-color: rgb(255, 214, 214);
}
.single-notification {
  margin-top:1px;
  margin-bottom: 1px;
}
.single-notification:hover {
  cursor: pointer;
  opacity: 98%;
}
.notificationsList {
  padding: 0px;
  word-wrap: break-word;
  max-width: 300px;
}
.notificationsList li {
  word-wrap: break-word;
}

/* my profile */
.my-profile-container {
  width: 50%;
  margin: auto;
  padding: 0px;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.profileInfoPart {
  border-bottom: 1px solid gray;
}
.profileInfoPart h1 {
  font-size: 1.7em;
}
.single-post-thumbnail {
  width: 100%;
  height: 100%;
}
.single-post-container {
  width: 250px;
  height: 250px;
  margin: 2px;
}
.displayed-posts-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
}

/* post pics */

.post-pic-link {
  opacity: 95%;
}
.post-pic-link:hover {
  cursor: pointer;
  opacity: 100%;
}

/* search bar */
.searchContainer {

}
.searchContainer ul {
  padding: 0px;
  margin: 0px;
  text-align: left;
}
.profile-pic-inside-search-bar {
  width:30px;
  height:30px;
  margin-left: 5px;
  margin-right: 5px;
}
.search-entry {
  background-color: rgb(255, 255, 255);
  margin-top: 2px;
  margin-bottom: 2px;
}
.search-entry:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}
.toggleSomething:hover {
  cursor: pointer;
}
/* comments */

.commentsListContainer {
  padding: 0px;
}
.single-comment {
  background-color: #ffffffcc;
  border-bottom: 1px solid rgba(128, 128, 128, 0.578);
  font-size: .7em;
}
.post-comment-button {
  background-color: rgb(0, 119, 255);
  color: white;
}

